<a href="https://colab.research.google.com/github/Samar2411/Python_Paper_Airplanes/blob/main/Week_1_Review_Ashira.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
listex = [1,2,3,4,5]
listex[0]
listex[-1]
#We are making a list and retriveing values with indices

5

In [ ]:
numbers = list(range(1,11))

#get a list with only the odd numbers with list comprehension

In [ ]:
word = 'five'
for x in word:
  print(x)

In [ ]:
fruit = ['corn', 'mango', 'apple']
#get one string that is cornmangoapple

In [ ]:
countries = [['Panama', 'Mexico', 'El Salvador'], ['Qatar', 'Bahrain', 'Jordan'], ['Albania', 'Malta','Greece']]
#Access Mexico!

In [ ]:
names = ["Alaa", "Basma", "Doaa", "Donan", "Malek", "Marooh", "Raghad", "Rahma", "riham", "samar"]
#Get a list of only the capital letters of the names in this list!

In [ ]:
instructorinfo= {"name":"Kevin", "job":"Scientist", "birthplace":"New York City!!!"}
instructorinfo["name"]
instructorinfo.keys

In [ ]:
authors = dict(JKRowling = "Harry Potter", JRRTolkein = "Lord of the Rings")
#add the keyvalue pairs of authors to instructor info

{'name': 'Kevin',
 'job': 'Scientist',
 'birthplace': 'New York City!!!',
 'JKRowling': 'Harry Potter',
 'JRRTolkein': 'Lord of the Rings'}

In [ ]:
person = [["name", "Jared"], ["job", "Musician"], ["city", "Bern"]]

# Convert to a Dictionary!

In [ ]:
alphanum ={}.fromkeys("a",1)
listalphanums = (("a",1), ("b", 2), ("c", 3), ("d", 4))
#turn listalphanums into a dictionary

In [ ]:
dictionary1 = {2:4, 6:8, 9:10}
# Create a dictionary2 where only the key-value pairs with even keys are present

{2: 4, 6: 8}